
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0f172a; /* Fondo muy oscuro (Slate 900) */
  color: #e2e8f0; /* Gris claro */
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset de estilos de input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
